
<div class="card-container uploader">
  <div class="card form-card mt-5 text-center">
    <div class="card-header">
      <h2>Upload bulk users</h2>
    </div>
    <div class="card-body">
      <button class="btn btn-dark-outline" id="csv-trigger"><i class="material-icons">file_upload</i> Upload bulk</button>
      <input type="file" name="csv" class="hidden" id="csv" hidden accept=".csv">
    </div>
  </div>
</div>

<div class="container">
  <%= form_for( :bulk ) do |f| %>
    <%= f.hidden_field :data, id: "form-data" %>
    <%= f.submit "Add all users", class: "btn submit-btn float-right btn-dark-outline"%>
  <% end %>
  <div class="bulk-list mt-5"></div>
</div>

<script>

  $('#csv-trigger').on('click', function() {
    $('#csv').click();
  });

  $(function(){

    $('.submit-btn').hide();

    var contacts;
    var count = 0;
  $.ajax({
    type: "GET",
    url: '/invites/all',
    success: function(data) {
      console.log('All invites', data);
      contacts = data;
    },
    error: function(err) {
      console.error("GET ALL INVITES ERR", err);
    }
  });
    $('#csv').change(function(){
    console.log($(this));

     var reader = new FileReader();
      reader.onload = function () {
        var data = reader.result;
        var allTextLines = data.split(/\r\n|\n/);
        var entries = allTextLines[0].split(',');
        var lines = [];
        record_num = 2;

        var headings = entries.splice(0, record_num);
        var html = "";
        html += "<ul class=\"list-group\">";
        for (let i = 1; i < allTextLines.length; i++) {
          const line = allTextLines[i];
          const lineArr = line.split(',');
          const exists = checkExistance(lineArr[1]);

          if (!lineArr[0] || !lineArr[1]) continue;


          if(exists != '') {
            lines.push({
              name: lineArr[0],
              email: lineArr[1],
            });
          }
          

          html += `
            
            <li class="list-group-item d-flex justify-content-between align-items-center">
              ${lineArr[0]} ( ${lineArr[1]} )
              <span class="badge badge-primary badge-pill" ${exists}>Already added</span>
            </li>
          `          
        }
        html += "</ul>";

        //add the data in form field
        $('#form-data').val(JSON.stringify(lines));
        $('.submit-btn').show();

        if(count) {
          $('.bulk-list').prepend('<h2>'+count+' contacts already added</h2>')
        }

        $('.bulk-list').append(html);
        console.log('lines', lines);
        $('.uploader').hide();
      };
      // start reading the file. When it is done, calls the onload event defined above.
      reader.readAsBinaryString($(this)[0].files[0]);

    })

    function checkExistance(email) {
      if(contacts) {
        matched = false;
        for (let i = 0; i < contacts.length; i++) {
          const contact = contacts[i];
          if (contact.email == email) {
           matched = true;
           count++;
          }
          
        }
        return (matched == true) ? '' : 'hidden';
      }
    }
  })
</script>