
<nav  class="navbar navbar-light bg-white">
  <div  class="container">
    <a  class="navbar-brand" ng-reflect-router-link="/" href="/">
      <img  alt="Fidiyo" class="logo" src="/official/logo-grey.png">
    </a>

    <% if logged_in? %>
      <div  class="ml-auto">
      
        <div  class="dropdown">
          <button  class="navbar-toggler" data-toggle="dropdown">
            <i  class="material-icons mx-auto">more_vert</i>
          </button>
          <div  class="dropdown-menu dropdown-menu-right">
            <% if current_user.admin? %>
              <%= link_to  "Users", invites_path, class: "dropdown-item" %>
              <%= link_to  "Clients", clients_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to  "Send mail", mailer_path, class: "dropdown-item" %>
            <%= link_to  "Logout", logout_path, method: :delete, class: "dropdown-item" %>
            
          </div>
        </div>
      </div>
    <% end %>

  </div>

</nav>